/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li{
    margin-right: 10px;
}

nav ul li a{
    text-decoration: none;
}

.imagen-noticia{
    float:left;
    margin-right: 10px;
}

article{
    border:1px solid black;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px black;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.fecha-noticia{
    font-style: italic;
}

body{
    min-height: 100%;
    position:relative;
}

footer{
    position:absolute;
    bottom:0;
}

section#galeria div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section#galeria figure{
    border: 1px solid lightgray;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

section#galeria img{
    width: 300px;
}

section#galeria img:hover{
    transform: scale(1.1);
}

section#galeria figcaption{
    font-style: italic;
}